.container {
    text-align: center;
}


.photo{

    position:relative
 }
 

     .photo font{
        font-size: 100px;
        position: absolute;/*絶対配置*/
        color: white;/*文字は白に*/
        top: 50%;
       left: 50%;
       -ms-transform: translate(-50%,-50%);
         -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin:0;
         padding:0;
     }

     .explain{
        color: white;
        font-size: 30px;
     }

     #matsuri{
        height: 500px;
        width: 1600px;
        object-fit: cover;

     }  

    .popular font{
        color: white; 
    font-size: 75px;

    }

    .map{
        position: relative;
    }

    #schedule{
        color: white; 
        font-size: 50px;
    }

    .yotei{
        height: 500px;
        width: 1100px;
        object-fit: cover;
    }